<form action="/themes/<%= @theme.id %>/expenses" method="post">
  <input type="number" name="amount">
  <input type="text" name="description">
  <input type="submit" value="Add This Expense">
</form>
