* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  /* border: solid 0.5px red; */
  font-size: 15px;
  font-weight: 300;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
.nav-left {
  display: flex;
  justify-content: flex-start;
}
.nav-right {
  display: flex;
  justify-content: flex-end;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1, h2, h3, h4, p, input {
  color: rgb(26, 46, 59);
}
h1 {
  padding: 15px;
  letter-spacing: -1px;
  font-size: 75px;
  font-weight: 500;
}
h2 {
  padding: 15px;
  margin: 20px 0 15px 0;
  font-size: 30px;
  font-weight: 500;
}
h3 {
  padding: 10px;
  font-size: 16px;
}
#sign-up-form-container, #sign-in-form-container, #create-theme-form-container, section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sign-up-form, #sign-in-form, #create-theme-form {
  flex-direction: column;
}
.sign-up-input, .sign-in-input, .create-theme-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
}
.sign-up-input input, .sign-in-input input, .create-theme-input input {
  border: solid rgb(26, 46, 59, 0.25) 1px;
  border-radius: 3px;
  margin: 5px 0;
  padding: 10px;
  background: none;
}
.btn input {
  background-color: rgb(26, 46, 59);
  color: white;
  font-weight: 500;
  cursor: pointer;
}
#nav-sign-up-btn, #create-theme-btn, #invite-friend-btn, #view-expenses-btn, #add-expense-btn {
  background-color: rgb(26, 46, 59);
  color: white;
  font-weight: 500;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}
#nav-log-in-btn, #nav-log-out-btn {
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
}
#themes-container {
  margin: 15px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.theme {
  flex-basis: 10%;
  list-style-type: none;
}
.theme form input {
  background: none;
  padding: 15px;
  border-radius: 3px;
  margin: 20px;
  cursor:pointer;
  background-color: white;
  border: none;
}

#buttons-container {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 550px;
}

table {
  border-collapse: collapse;
  width: 550px;
}

table td {
  border-top: 1px solid rgb(26, 46, 59, 0.25);
  border-bottom: 1px solid rgb(26, 46, 59, 0.25);
}

th {
  padding: 12px 15px;
  font-size: 18px;
  font-weight: 500;
  text-transform: lowercase;
  text-align: left;
}

td {
  padding: 10px 15px;
  font-size: 13px;
}

tr .credit {
  color: green;
  font-weight: 500;
}

tr .debit {
  color: red;
  font-weight: 500;
}

li form input {
  font-size: 35px;
  letter-spacing: 10px;
}

li form input:hover {
  font-weight: bold;
  transition: 0.2s;
}
