<nav>
  <p>Signed in as <%= @user.first_name %></p>
</nav>

<form action="/sessions/destroy" method="post">
  <input type="submit" value="Log Out">
</form>

<form action="/themes/new" method="get">
  <input type="submit" value="Create a New Theme">
</form>

<ul>
  <% @themes.each do |theme| %>
    <li>
      <form action="/themes/<%= theme.id %>" method="get">
        <input type="submit" value="<%= theme.title %>">
      </form>
    </li>
  <% end %>
</ul>
