<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>New session</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <h2>Log in to the Expense Tracker</h2>
  </header>

  <section id="sign-in-form-container">
    <form action="/sessions" method="post" id="sign-in-form">
      <div class="sign-in-input">
        <input type="email" name="email" placeholder="Email address">
      </div>

      <div class="sign-in-input">
        <input type="password" name="password" placeholder="Password">
      </div>

      <div class="sign-in-input btn">
        <input type="submit" value="Log in">
      </div>
    </form>

    <div>
      <h3><%= flash[:notice] %></h3>
    </div>
  </section>
</body>
