<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>New user</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <h2>Join the Expense Tracker</h2>
  </header>

  <section id="sign-up-form-container">
    <form action="/users" method="post" id="sign-up-form">
      <div class="sign-up-input">
        <input type="text" name="first-name" placeholder="First name">
      </div>

      <div class="sign-up-input">
        <input type="text" name="surname" placeholder="Surname">
      </div>

      <div class="sign-up-input">
        <input type="email" name="email" placeholder="Email address">
      </div>

      <div class="sign-up-input">
        <input type="password" name="password" placeholder="Password">
      </div>

      <div class="sign-up-input">
        <input type="password" name="confirm-password" placeholder="Confirm password">
      </div>

      <div class="sign-up-input btn">
        <input type="submit" value="Sign up">
      </div>
    </form>

    <div>
      <h3><%= flash[:notice] %></h3>
    </div>
  </section>
</body>
