<form action="/themes/<%= @theme.id %>/participations" method="post">
  <label for="first-name">Email</label>
  <input type="email" name="email">
  
  <input type="submit" value="Invite Friend">
</form>
